## Unit 8. 심사문제

In [3]:
a, b, c, d = input("국어, 영어, 수학, 과학 점수를 순서대로 입력하세요>").split()
a = int(a)
b = int(b)
c = int(c)
if a >= 90 and b > 80 and c > 85 and d >=80:
  print('True')
else:
  print('False')

국어, 영어, 수학, 과학 점수를 순서대로 입력하세요>90 85 80 90
False

## Unit 9. 심사문제

In [6]:
s = ''''Python is a "programming language"
that lets you work quickly
and
integrate systems more effectiverly'''
print(s)

'Python is a "programming language"
that lets you work quickly
and
integrate systems more effectiverly

## Unit 10. 심사문제

In [9]:
a = tuple(range(-10,10,int(input())))
print(a)

2
(-10, -8, -6, -4, -2, 0, 2, 4, 6, 8)

In [1]:
inc = int(input())
print(tuple(range(-10,10,inc)))

(-10, -8, -6, -4, -2, 0, 2, 4, 6, 8)

## Unit 11. 심사문제

### 문제 1. 리스트의 마지막 부분 삭제하기

In [14]:
# 리스트 x의 마지막 요소 5개를 삭제한 뒤 튜플로 출격되게 만드세요.
x =input().split()
if len(x) > 5: 
  del x[len(x)-5:]
  print(tuple(x))
else:
  print(tuple(x))

1 2 3 4 5 6 7 8 9 10
('1', '2', '3', '4', '5')

### 문제 2. 문자열에서 인덱스가 홀수인 문자와 짝수인 문자 연결하기

In [19]:
var1, var2 = input().split()
var1[1:len(var1):2] + var2[0:len(var2):2]

apple strawberry

'plsrwer'

## Unit 12. 심사문제

In [25]:
a = input().split()
b= map(float,input().split())
c = dict(zip(a,b))
print(c)

a b c d
1 2 3 4
{'a': 1.0, 'b': 2.0, 'c': 3.0, 'd': 4.0}

## Unit 13. 심사문제

In [26]:
price = int(input())
cou = input()
if cou == 'Cash3000':
  price -=3000
  print(price)
if cou == 'Cash5000':
  price-= 5000
  print(price)

27000
Cash3000
24000

## Unit 14. 심사문제

In [31]:
a, b, c, d = map(int,input().split())
if 100>= a >= 0 and 100>= b >= 0 and 100>= c >= 0 and 100>= d >= 0:
  if (a+b+c+d)/4 >=80:
    print('합격')
  else:
    print('불합격')
else:
  print('잘못된 점수')

89 72 93 82
합격