Unit 15. 심사문제

In [ ]:
age = int(input())
balance = 9000
if age>=7 and age<=12:
    balance -= 650
    print(balance)
elif age >=13 and age <=18:
    balance -= 1050
    print(balance)
elif age >=19:
    balance -= 1250
    print(balance)

Unit 16. 심사문제

In [ ]:
var = int(input())
var_list=[]
for i in range(1,11):
    var_list.append(var*i)
for i in range(0,10):
    print(var,'*',i+1,'=',var_list[i], sep='')

Unit 17. 심사문제

In [ ]:
my_money = int(input())
while my_money >=0:
    my_money-=1350
    if my_money>=0:
        print(my_money)

## Unit 18. 심사문제

In [ ]:
start, stop = map(int,input().split())

i = start

while True:
    if (i-3)%10 ==0:
        continue
    if i == stop:
        break
    print(i, end=' ')
    i +=1

### 번외문제 a+b+c =1000(a<b<c) 피타고라스 수는?

In [1]:
number_list=[]
for a in range(0,1000):
    for b in range(a,1000):
        for c in range(b,1000):
            if a<b<c and a+b+c==1000 and a*a+b*b == c*c:
                number_list.append([a,b,c])
print(number_list)

[[200, 375, 425]]

In [1]:
for a in range(1,333):
    for b in range(a+1,500):
        c = 1000 - a -b
        if c*c == a*a + b*b:
            print(a,b,c)

200 375 425

In [2]:
[(a,b,c) for a in range(1,333)
                for b in range(a+1,500)
                    for c in range(b+1,1000)
                        if a+b+c == 1000 and a*a+b*b==c*c]

[(200, 375, 425)]

#### 만 나이

In [4]:
from datetime import date
today = date.today()
today

datetime.date(2021, 7, 30)

In [ ]:
year, month, day = map(int, input().split())
year, month, day

#### 디지털 시계

In [5]:
total_seconds = 0
for hour in range(24):
    for min in range(60):
        time = f'{hour:02d}:{min:02d}'
        if '3' in time:
            total_seconds += 60
print(total_seconds)

29700