# Unit 30. 위치 인수와 키원드 인수

In [ ]:
## 30.1 위치 인수

In [1]:
# 10,20,30은 위치 인수 sep은 키워드 인수
print(10,20,30, sep=', ')

10, 20, 30

In [2]:
def print_numbers(a,b,c):
    print(a)
    print(b)
    print(c)
    
x = [10,20,30]
print_numbers(*x)

10
20
30

In [3]:
def print_numbers2(*args):
    for arg in args:
        print(arg)

In [4]:
print_numbers2(10,20,30,40)

10
20
30
40

In [5]:
def print_numbers3(a,*args):
    print(a)
    print(args)

print_numbers3(10,20,30,40,50)

10
(20, 30, 40, 50)

In [6]:
def personal_info(name,age, addr):
    print('이름', name)
    print('나이', age)
    print('주소', addr)

personal_info('홍길동',30,'서울 강남구 도곡동')

이름 홍길동
나이 30
주소 서울 강남구 도곡동

In [7]:
personal_info(age=30,addr='서울 강남구 도곡동',name='홍길동')

이름 홍길동
나이 30
주소 서울 강남구 도곡동

## 30.3 키워드 인수와 딕셔너리 언패킹 사용하기

In [8]:
x = {'name':'홍길동','age':30,'addr':'서울 강남구 도곡동'}
personal_info(**x)

이름 홍길동
나이 30
주소 서울 강남구 도곡동

### 키워드 인수

In [9]:
def personal_info2(**kwargs):
    for key, value in kwargs.items():
        print(f'{key}:{value}')

In [11]:
personal_info2(**x)

name:홍길동
age:30
addr:서울 강남구 도곡동

In [12]:
personal_info2(name='홍길동',age=30)

name:홍길동
age:30

In [13]:
def my_print(*args,**kwargs):
    print(*args, **kwargs)

In [14]:
my_print(10,20,30,sep=', ')

10, 20, 30